.header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(270deg, rgb(11, 50, 65) 10%, rgb(20, 112, 109) 60%, rgba(217, 224, 232, 0.91) 90%);
    border-bottom: 5px solid #167E77;
    padding: 10px 20px;
}
.img {
    border-radius: 50%;
    border: 2px solid #167E77;
    height: 100px;
}

