.header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(270deg, rgb(1, 78, 186) 10%, rgb(62, 118, 226) 50%, rgba(217, 224, 232, 0.91) 90%);
    border-bottom: 5px solid #203e66;
    padding: 10px 20px;
}
.img {
    border-radius: 50%;
    border: 2px solid #203e66;
    height: 100px;
}

