.main-button {
    display: inline-block;
    background-color: #0b3241;
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    padding: 17px 20px;
    margin-right: 0px;
    box-shadow: 4px 4px 0px #167E77;
    transition: transform 300ms;
}

.main-button:hover {

    transform: scale(1.08);
}
