.main-action {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before {
    content: "";
    background-color: #1673DE;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}