.main-box {
    background-color: #0b3241;
    box-shadow: 4px 4px 0px #167E77;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    padding: 42px 44px ; 

}

.main-box .title{
    margin-bottom: 28px;
}
