.section-banner {
    background-image: url(../assets/img/BannerMatrix.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    border-bottom: 10px solid #203e66;
    height: 800px;
    padding-top: 116px;
    padding-left: 90px;
}

.section-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 645px;
}

.section-banner .main-box {
    margin-bottom: 40px;
}

.section-banner .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
